venv/

*.pyc
__pycache__/

instance/

advencal/static/calendar
advencal/static/quests
advencal/static/production
advencal/static/js
advencal/static/scss
advencal/static/.sass-cache

advencal/initial.sql

tmp/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.flaskenv

.vscode/
**/.DS_Store
