body {
    min-width: 900px;
}

.cell {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle; 
}

.undiscovered, .notyet {
  font-size: 100px;
  text-decoration: none;
  color: black;
  color: rgba(0, 0, 0, 0.3);
}

.undiscovered:hover, .notyet:hover {
  text-decoration: none;
  color: gray;
  color: rgba(0, 0, 0, 0.5);
}

