<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mlerp!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <nav>
        <h1>Kalendarz adwentowy 2019!</h1>
        {% if g.user %}
        <ul>
          <li><span>{{ g.user['username'] }}</span></li>
          {% if g.user['admin'] %}
          <!--<li><a href="#">Użytkownicy</a></li>
          <li><a href="#">Zagadki</a></li>-->
          <li><a href="{{ url_for('tweaks') }}">Zmiany</a></li>
            {% if session['time_shift'] %}
            <li><span>Dzień: {{ session['time_shift'] }}</span></li>
            {% endif %}
          {% endif %}
          <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
        </ul>
        {% endif %}
      </nav>

      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% if win %}
      Yay!
      {% endif %}

      {% block content %}{% endblock %}

    </div>
    <script src="/static/production/print.min.js"></script>
  </body>
</html>