<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jutrzenkowy Kalendarz Adwentowy!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/4d4eb29d18.js" crossorigin="anonymous"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-success mb-4">
    <a href="{{ url_for('index') }}" class="navbar-brand"><img src="/static/23.png" width="48" height="45" class="d-inline-block align-top mr-3 mt-1">Jutrzenkowy Kalendarz Adwentowy 2020!</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if g.user %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <span class="navbar-text text-light">{{ g.user['username'] }}</span>
        {% if g.user['admin'] %}
        <a href="{{ url_for('tweaks') }}" class="nav-item nav-link">Zmiany</a>
        {% if session['time_shift'] %}
        <span class="navbar-text text-light">Dzień: {{ session['time_shift'] }}</span>
        {% endif %}
        {% endif %}
        <a href="{{ url_for('logout') }}" class="nav-item nav-link">Wyloguj</a>
      </div>
    </div>            
    {% endif %}
  </nav>
  <main class="container-fluid">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}  alert-dismissible fade show" role="alert">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    
    {% if win %}
    <div class="row">
      <div class="jumbotron mx-auto bg-light">
        <img class="mx-auto" src="/static/production/supermaja.png">
        <hr class="my-3">
        <button class="btn btn-warning btn-lg btn-block font-weight-bold" type="button" onclick="printJS('/static/production/klucz.pdf')">WYDRUKUJ KLUCZ DO NAGRODY!</button>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col mx-auto"> 
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <script src="/static/production/print.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
