<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Komputerowy Kalendarz Adwentowy!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/4d4eb29d18.js" crossorigin="anonymous"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?v=2">
  <link rel="icon" href="/static/favicon.ico?v=2" />
  <link rel="manifest" href="/static/site.webmanifest?v=2">
</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <a href="{{ url_for('index') }}" class="navbar-brand"><img src="/static/mlerp.png" width="113" height="24" class="d-inline-block mr-3 mt-1">Komputerowy Kalendarz Adwentowy 2021!</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if g.user %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <span class="navbar-text text-light">{{ g.user['username'] }}</span>
        {% if g.user['admin'] %}
        <a href="{{ url_for('questsed') }}" class="nav-item nav-link">Questy</a>
        {% if session['time_shift'] %}
        <span class="navbar-text text-light">Dzień: {{ session['time_shift'] }}</span>
        {% endif %}
        <a href="{{ url_for('tweaks') }}" class="nav-item nav-link">Postępy</a>
        <a href="{{ url_for('users') }}" class="nav-item nav-link">Użytkownicy</a>
        {% endif %}
        <a href="{{ url_for('changepass') }}" class="nav-item nav-link">Zmień hasło</a>
        <a href="{{ url_for('help') }}" class="nav-item nav-link">Pomoc</a>
        <a href="{{ url_for('logout') }}" class="nav-item nav-link">Wyloguj</a>
      </div>
    </div>            
    {% endif %}
  </nav>
  <main class="container-fluid">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}  alert-dismissible fade show" role="alert">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    
    {% if win %}
    <div class="row">
      <div class="jumbotron mx-auto bg-gradient-primary text-dark text-center col-6">
        <p><h1>Gratulacje!</h1></p>
        <p><h4>Rozwiązałaś wszystkie zagadki, wykazałaś się wiedzą i wytrwałością. Możesz być z siebie naprawdę dumna!</h4></p>
        <p><h4>Cudownej Wigilii!<br>Do zobaczenia!</h4></p>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col mx-auto"> 
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  {% block scripts %}
  {% endblock %}
  <script src="/static/js/print.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</body>
</html>

