{% extends "base.html" %}

{% block content %}

    <table id="calendar" class="display" cellpadding="0" border="0" cellspacing="0">
        <tbody>
            {% for row in range(6) %}
            <tr>
                {% for col in range(4) %}
                {{ get_image(row,col)|safe }}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="notyetpopup" class="overlay">
	    <div class="popup">
		    <h2>Mlerp!</h2>
		    <a class="close" href="#">&times;</a>
		    <div class="content">
			    Jeszcze nie czas!
		    </div>
	    </div>
    </div>
{% endblock %}