{% extends "base.html" %}

{% block content %}

<table id="calendar" class="mx-auto" cellpadding="0" border="0" cellspacing="0">
    <tbody>
        {%- for row in range(6) %}
        <tr>
            {%- for col in range(4) %}
            {%- set day_id = row * 4 + col + 1 %}
            {%- if day_id in discovered %}
            <td class="cell" style="background-image: url('/static/calendar/disc_{{ row }}_{{ col }}.png');"></td>
            {%- else %}
            <td class="cell" style="background-image: url('/static/calendar/unc_{{ row }}_{{ col }}.png');">
                {%- if date_today < date_today.replace(day=day_data[day_id]['day_no'],hour=date_today.strptime(day_data[day_id]['hour'], "%H:%M:%S").hour,minute=date_today.strptime(day_data[day_id]['hour'], "%H:%M:%S").minute,second=date_today.strptime(day_data[day_id]['hour'], "%H:%M:%S").second) %}
                <a href="#notyetpopup{{ day_id }}" class="notyet" data-toggle="modal" data-target="#notyetpopup{{ day_id }}">{{ day_data[day_id]['day_no'] }}</a></td>
                <div class="modal fade" id="notyetpopup{{ day_id }}" tabindex="-1" role="dialog" aria-labelledby="notyetpopup{{ day_id }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="notyetpopup{{ day_id }}Label">Cześć!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Jeszcze nie czas!</p>
                                {%- set daysdiff = (date_today.replace(day=day_data[day_id]['day_no']) - date_today).days -%}
                                {%- set daysstring = {0: "dzisiaj", 1: "jutro", 2:"pojutrze"}[daysdiff] | default("za " + daysdiff|string + " dni") -%}
                                <p><small>To zadanie będzie można rozwiązać już {{ daysstring }} o godzinie {{ day_data[day_id]['hour']|truncate(5, True, '', 0) }}!</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {%- else %}
                <a href="#discoverpopup{{ day_id }}" class="undiscovered" data-toggle="modal" data-target="#discoverpopup{{ day_id }}">{{ day_data[day_id]['day_no'] }}</a></td>
                {%- if day_data[day_id]['quest'] %}
                <div class="modal fade" id="discoverpopup{{ day_id }}" tabindex="-1" role="dialog" aria-labelledby="discoverpopup{{ day_id }}Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="discoverpopup{{ day_id }}Label">Zadanie!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ day_data[day_id]['quest']|safe }}
                            </div>
                            <div class="modal-footer">
                                <form method="post"><input type="hidden" id="day_id" name="day_id" value="{{ day_id }}">
                                    <div class="input-group mb-3">
                                        <input type="text" name="answer" id="answer" class="form-control" placeholder="Twoja odpowiedź..." aria-label="Twoja odpowiedź..." aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="submit" id="button-addon2">Sprawdź!</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {%- else %}
                <div class="modal fade" id="discoverpopup{{ day_id }}" tabindex="-1" role="dialog" aria-labelledby="discoverpopup{{ day_id }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="discoverpopup{{ day_id }}Label">Tym razem się udało!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <form method="post"><input type="hidden" id="day_id" name="day_id" value="{{ day_id }}">
                                    <button class="btn btn-success" type="submit" id="button-addon2">Odkryj</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                    
                {%- endif %}
                {%- endif %}
                {%- endif %}
                {%- endfor %}
            </tr>
            {%- endfor %}
        </tbody>
    </table>
    
    {% endblock %}
