<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kolejny Nowy Kalendarz Adwentowy!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?v=2">
  <link rel="icon" href="/static/favicon.ico?v=2" />
  <link rel="manifest" href="/static/site.webmanifest?v=2">
</head>
<body class="text-center">
  <main class="col-sm-4 col-sm m-auto p-3">

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}  alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <img class="mb-4" alt="" src="/static/mlerp.png" width="299" height="64">
    <form method="post">

      <div class="form-floating">
        <input name="username" id="username" class="form-control" placeholder="{{ _('Login') }}" required autofocus style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
        <label for="username">{{ _('Login') }}</label>
      </div>

      <div class="form-floating">
        <input type="password" name="password" id="password" class="form-control" placeholder="{{ _('Hasło') }}" required style="border-top-left-radius: 0; border-top-right-radius: 0;">
        <label for="password">{{ _('Hasło') }}</label>
      </div>

      <div class="form-check form-check-inline form-switch mt-4">
        <input class="form-check-input" type="checkbox" role="switch" name="remember_me" id="remember_me" value="remember_me">
        <label class="form-check-label" for="remember_me">{{ _('Zapamiętaj mnie') }}</label>
      </div>
      <input type="submit" value="{{ _('Zaloguj') }}" class="btn btn-primary btn-lg w-100 mb-4">

    </form>
    <span class="text-muted">&copy; 2022 B4Team</span>
  </main>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
