{% extends "base.html.j2" %}

{% block content %}

<fieldset class="form-group border rounded-3 p-3">
    <legend class="float-none w-auto px-3">{{ _('Edytuj questy') }}</legend>
    <table class="table table-hover">
        <thead>
            <th scope="col">{{ _('Dzień miesiąca') }}</th>
            <th scope="col">{{ _('Quest') }}</th>
            <th scope="col">{{ _('Godzina startu') }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for day in days %}
            <tr>
                <th scope="row">{{ day.day_no }}</th>
                <td style="width: 100%">{%- if day.quest %}
                    {{ day.quest|striptags|truncate(65) }}</td>{% endif -%}
                    <td>{{ day.hour }}</td>
     {%- if day.quest %}<td><button class="btn btn-outline-info btn-sm" type="button" onclick="window.location.href='#preview{{ day.id }}';" data-bs-toggle="modal" data-bs-target="#preview{{ day.id }}"><i class="bi bi-eye-fill"></i></button>
                        <div class="modal fade" id="preview{{ day.id }}" tabindex="-1" role="dialog" aria-labelledby="preview{{ day.id }}Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="preview{{ day.id }}Label">{{ _('Zadanie!') }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ day.quest|safe }}
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post"><input type="hidden" id="day_id" name="day_id" value="{{ day.id }}">
                                            <div class="input-group mb-3">
                                                <input type="text" name="answer" id="answer" class="form-control" placeholder="{{ day.quest_answer|e }}" aria-label="{{ day.quest_answer }}" aria-describedby="button-addon2" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="submit" id="button-addon2" disabled>{{ _('Sprawdź!') }}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                    </td><td>
                        {% endif %}</td>
                        <td><form action="/edit_quest" method="POST"><button class="btn btn-outline-warning btn-sm" type="submit" name="edit_quest" value="{{ day.id }}"><i class="bi bi-pencil-fill"></i></button></form></td>
                        <td>{%- if day.quest %}<form action="/edit_quests" method="POST"><button class="btn btn-outline-danger btn-sm" type="submit" name="del_quest" value="{{ day.id }}"><i class="bi bi-trash-fill"></i></button></form>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

<fieldset class="form-group border rounded-3 p-3">
    <legend class="float-none w-auto px-3">{{ _('Biblioteka obrazków') }}</legend>
    <form action ="/edit_quests" method = "POST" enctype = "multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="upload_asset" name="upload_asset" aria-describedby="upload_asset" aria-label="{{ _('Załaduj') }}">
            <button class="btn btn-outline-success" type="submit" id="upload_asset">{{ _('Załaduj') }}</button>

        </div>
    </form> 
    <table class="table table-hover">
        <thead>
            <th scope="col">{{ _('Grafika') }}</th>
            <th scope="col">{{ _('Link') }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {%- for item in assets %}
            <tr>
                <td style="width: 50%"><img class="img-fluid" src="/static/quests/{{ item }}" style="max-height: 400px"></td>
                <td style="width: 100%" class="align-middle">&lt;img class="img-fluid" src="/static/quests/{{ item }}"&gt;</td>
                <td class="align-middle"><button class="btn btn-outline-info btn-sm" onclick="copyToClipboard('%3Cimg%20class=%22img-fluid%22%20src=%22/static/quests/{{ item }}%22%3E', true)"><i class="bi bi-link-45deg"></i></button></td>
                <td class="align-middle"><form action="" method="POST"><button class="btn btn-outline-danger btn-sm" type="submit" name="del_asset" value="{{ item }}"><i class="bi bi-trash-fill"></i></button></form></td>   
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</fieldset>
        
        

{% endblock %}
