{% extends "base.html" %}

{% block content %}

  <form method="post">
    <fieldset>
      <legend>Usuń odwiedziny</legend>
      <input type="radio" name="del_discos" id="del_all" value="del_all" checked="checked">
      <label for="del_all">wszystkie</label><br>
      <input type="radio" name="del_discos" id="del_taf" value="del_taf">
      <label for="del_taf">dzisiejsze i przyszłe</label><br>
      <input type="checkbox" name="del_except_quests" id="del_except_quests" value="del_except_quests">
      <label for="del_except_quests">poza questami</label><br>
      <label for="del_users">dla użytkowników:</label><br>
      <select name="del_users" id="del_users" size="5" multiple>
          {% for id, username in users %}
          <option value="{{ id }}">{{ username }}</option>
          {% endfor %}
      </select><br>
      <input type="submit" value="Usuń">
    </fieldset>
  </form>

  <form method="post">
      <fieldset>
          <legend>Przesuń kalendarz w czasie</legend>
          <label for="time_shift">Dla którego dnia miesiąca wygenerować kalendarz?</label><br>
          <input name="time_shift" id="time_shift" value="{{ date_today }}">
          <input type="submit" value="Ustaw">
      </fieldset>
  </form>

    <fieldset>
      <legend>Edytuj questy</legend>
        <table>
          <thead><th>Dzień</th><th>Quest</th><th></th><th></th><th></th></thead>
          {% for day_id, day_no, quest in days %}
          <tr>
            <td>{{ day_no }}</td>
            <td>{%- if quest %}
                {{ quest|striptags|truncate(65) }}</td>
                    <td><button type="button" onclick="window.location.href='#preview{{ day_id }}';">preview</button>
                    <div id="preview{{ day_id }}" class="overlay">
                        <div class="popup">
                            <h2>Ojej! Zadanie!</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                {{ quest|safe }}
                                <br><br>
                                <form method="post">
                                    <label for="answer">Odpowiedź</label>
                                    <input name="answer" id="answer" required>
                                    <input type="submit" value="Mlerp!" disabled>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                </td><td>
                {% endif %}</td>
            <td><form action="/questedit" method="POST"><button type="submit" name="quest_edit" value="{{ day_id }}">edit</button></form></td>
            <td>{%- if quest %}<button type="submit" name="quest_del" value="{{ day_id }}">del</button>{% endif %}</td>
          </tr>
          {% endfor %}
        </table>
    </fieldset>
  
{% endblock %}