{% extends "base.html" %}

{% block content %}

<form method="post">


<form class="form-inline" method="post">
    <fieldset class="form-group border rounded p-2">
        <legend class="w-auto">Dodaj użytkownika</legend>
        <label class="my-1 mr-2" for="time_shift">Dla którego dnia miesiąca wygenerować kalendarz?</label>
        <input class="form-control my-1 mr-sm-2" name="time_shift" id="time_shift" value="{{ date_today }}">
        <button type="submit" class="btn btn-success my-1">Ustaw</button>
    </fieldset>
</form>

<fieldset class="form-group border rounded p-2">
    <legend class="w-auto">Zarządzaj użytkownikami</legend>
    <table class="table table-hover">
        <thead>
            <th scope="col">Nazwa użytkownika</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for day_id, day_no, quest, quest_answer in days %}
            <tr>
                <th scope="row">{{ day_no }}</th>
                <td style="width: 100%">{%- if quest %}
                    {{ quest|striptags|truncate(65) }}</td>
                    <td><button class="btn btn-outline-success btn-sm" type="button" onclick="window.location.href='#preview{{ day_id }}';" data-toggle="modal" data-target="#preview{{ day_id }}"><i class="fas fa-eye"></i></button>
                        <div class="modal fade" id="preview{{ day_id }}" tabindex="-1" role="dialog" aria-labelledby="preview{{ day_id }}Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="preview{{ day_id }}Label">Ojej! Zadanie!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ quest|safe }}
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post"><input type="hidden" id="day_id" name="day_id" value="{{ day_id }}">
                                            <div class="input-group mb-3">
                                                <input type="text" name="answer" id="answer" class="form-control" placeholder="{{ quest_answer }}" aria-label="{{ quest_answer }}" aria-describedby="button-addon2" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="submit" id="button-addon2" disabled>Sprawdź!</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                    </td><td>
                        {% endif %}</td>
                        <td><form action="/questedit" method="POST"><button class="btn btn-outline-warning btn-sm" type="submit" name="quest_edit" value="{{ day_id }}"><i class="fas fa-edit"></i></button></form></td>
                        <td>{%- if quest %}<form action="/tweaks" method="POST"><button class="btn btn-outline-danger btn-sm" type="submit" name="quest_del" value="{{ day_id }}"><i class="fas fa-trash-alt"></i></button></form>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        
    {% endblock %}