{% extends "base.html" %}

{% block content %}

<form method="post">


<form class="form-inline" method="post">
    <fieldset class="form-group border rounded-3 p-3">
        <legend class="float-none w-auto px-3">Dodaj użytkownika</legend>
        <label class="my-1 mr-2" for="new_user">Login</label>
        <input class="form-control my-1 mr-sm-2" name="new_user" id="new_user">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="pass_source" id="pass_input" value="pass_input" checked="checked" onclick="enable_pass()">
            <label class="form-check-label" for="pass_input">Podaj hasło</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="pass_source" id="pass_gen" value="pass_gen" onclick="disable_pass()">
            <label class="form-check-label" for="pass_gen">Wygeneruj losowe hasło</label>
        </div>
        <label class="my-1 mr-2" for="new_pass">Hasło</label>
        <input class="form-control my-1 mr-sm-2" name="new_pass" id="new_pass">
        <button type="submit" class="btn btn-success my-1">Dodaj użytkownika</button>
    </fieldset>
</form>

<fieldset class="form-group border rounded-3 p-3">
    <legend class="float-none w-auto px-3">Zarządzaj użytkownikami</legend>
    <table class="table table-hover">
        <thead>
            <th scope="col">Nazwa użytkownika</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for id, username, admin in users %}
            <tr>
                <td style="width: 100%">
                    {{ username }}
                </td>
                <td>
                    {% if not admin %}
                    <button class="btn btn-warning text-nowrap" type="button" onclick="ShowModal('{{ id }}')">Zmień hasło</button>
                    {% endif %}
                </td>
                <td>
                    {% if not admin %}
                        <button class="btn btn-danger" data-record-id="{{ id }}" data-record-title="{{ username }}" data-bs-toggle="modal" data-bs-target="#confirm-delete">Usuń</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

<div class="modal fade" id="changepass_modal" tabindex="-1" role="dialog" aria-labelledby="changepass_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="changepass_modalLabel">Podaj nowe hasło</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="change_pass_source" id="change_pass_input" value="change_pass_input" checked="checked">
                    <label class="form-check-label" for="change_pass_input">Podaj hasło</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="change_pass_source" id="change_pass_gen" value="change_pass_gen">
                    <label class="form-check-label" for="change_pass_gen">Wygeneruj losowe hasło</label>
                </div>
                <label class="my-1 mr-2" for="change_pass">Hasło</label>
                <input class="form-control my-1 mr-sm-2" name="change_pass" id="change_pass">
            </div>
            <div class="modal-footer">
                <input type="hidden" id="user_id" name="user_id" value="">
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-warning my-1">Ustaw nowe hasło</button>
                    </div>
                
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Czy aby na pewno?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <p>Czy na pewno chcesz usunąć użytkownika <b class="title"></b> ?</p>
          <p>To operacja z gatunku nieodwracalnych.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
          <form action="/users" method="POST" class="d-inline"><button class="btn btn-danger d-inline btn-ok" type="submit" name="user_del" value="">Tak</button></form>
        </div>
      </div>
    </div>
  </div>

{% if credentials %}
<div class="modal fade" id="credentials_modal" tabindex="-1" role="dialog" aria-labelledby="credentials_modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentials_modalLabel">Ważne!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Nowe hasło: <code id="copyText">{{ credentials['pass'] }}</code></h3>
                <button id="copyButton" class="btn btn-success my-1">Skopiuj do schowka</button>
                <p><strong>Uwaga!</strong> To jest ostatni dobry moment, żeby skopiować hasło użytkownika! (Np. po to, żeby mu je wysłać.) Po zamknięciu tego okna odczytanie hasła nie będzie możliwe! (Ale naturalnie będzie można je ustawić od nowa przez <span class="btn btn-warning btn-sm">Zmień hasło</span> poniżej.)</p>
                <p>A tutaj jeszcze gotowiec do skopiowania np. do maila:</p>
                <textarea class="form-control" rows="3">Login: {{ credentials['login'] }} 
Hasło: {{ credentials['pass'] }} 
Pomocny URL: https://adwent.jutrzenka.mlerp.pl</textarea>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

    {% block scripts %}
        {{ super() }}

        <script type="text/javascript">
          function disable_pass(){
            console.log("disabled");
            var elem = document.getElementById("new_pass");
            elem.setAttribute("disabled", "");
          }

          function enable_pass(){
            console.log("enabled");
            var elem = document.getElementById("new_pass");
            elem.removeAttribute("disabled");
          }
        </script>

        <script type="text/javascript">
            function ShowModal(user_id) {
                $('#user_id').prop('value', user_id);
                $('#changepass_modal').modal('show');
            }
        </script>

        <script type="text/javascript">
            $(window).on('load',function(){
                $('#credentials_modal').modal('show');
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                $(document).on('click', '#copyButton', function(){
                    copytext($("#copyText").html(), this);  
                })
            });
            
            function copytext(text, context) {
                var textField = document.createElement('textarea');
                textField.innerText = text;
                
                if (context) {
                    context.parentNode.insertBefore(textField, context);
                } else {
                    document.body.appendChild(textField);
                }
                
                textField.select();
                document.execCommand('copy');
                // Let `.remove()` also work with older IEs
                textField.parentNode.removeChild(textField);
                // console.log('should have copied ' + text);
            }
        </script>

        <script type="text/javascript">
            $('#confirm-delete').on('click', '.btn-ok', function(e) {
                
                var $modalDiv = $(e.delegateTarget);
                var id = $(this).data('recordId');
                
                $modalDiv.addClass('loading');
                setTimeout(function() {
                    $modalDiv.modal('hide').removeClass('loading');
                }, 1000);
            });
            
            $('#confirm-delete').on('show.bs.modal', function(e) {
                var data = $(e.relatedTarget).data();
                $('.title', this).text(data.recordTitle);
                $('.btn-ok', this).prop('value', data.recordId);
            });
        </script>
        
    {% endblock %}